{% include 'base.html'%}
{% load static %}

{% block content %}
  <h1>
    {{ video.title }}
  </h1>

  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <div class="content container">

    <header class="page-header">

      <div style="align-items:center; display: flex; justify-content:center;">
        <video style="width:900; height:540" controls="controls">
          <source src="../media/{{ video.videofile }}" type="video/mp4">
        </video>
      </div>
    </div>
    {% if request.user == video.author %}
      <div class="my-3">
        <a href="{% url 'video_modify' video.id %}" class="btn btn-sm btn-outline-secondary">수정</a>
        <a href="#" class="delete btn btn-sm btn-outline-secondary" data-uri="{% url "video_delete" video.id %}">삭제</a>
      </div>
    {% endif %}
  </header>

  <div class="bg-light text-center p-3 border font-weight-bolder mb-1">
    {{ video.likes.count }}
  </div>
  <a href="{% url 'video_likes' video.id %}" button="button" id="like-btn" data-uri="{% url 'video_likes' video.id %}" class="like btn btn-sm secondary btn-block my-1">
    {% if request.user in video.likes.all %}
      <i class="fas fa-heart"></i>
    {% else %}
      <i class="far fa-heart"></i>
    {% endif %}
  </a>

  <div class="col-11">
    <h3>{{ video.title }}</h3>
    <p>{{ video.description }}</p>

    <p>조회수:
      <span id="view-count">{{ video.view_count }}</span>
    </p>
  </div>
</div>
{% endblock %}

{% block script1 %}
<script type='text/javascript'>
  $(document).ready(function () {
    $(".delete").on('click', function () {
      if (confirm("정말로 삭제하시겠습니까?")) 
        location.href = $(this).data('uri');
      }
    );
  });
</script>

{% endblock %}
{% block script2 %}
<script>
  $(document).ready(function () {
    var videoid = '{{ video.id }}';
    $.ajax({
      method: 'POST',
      url: '/view_count/' + videoid,
      data: {
        'csrfmiddlewaretoken': '{{ csrf_token }}'
      },
      async: true,
      error: function (xhr, status, error) {
        console.error(xhr, responseText);
      }
    });
  });
</script>
{% endblock %}
{% block script3 %}
<script type='text/javascript'>
  $(document).ready(function () {
    $('#like-btn').click(function (event) {
      event.preventDefault();
      var url = $(this).attr("data-uri");
      $.ajax({
        type: "POST",
        url: url,
        data: {
          csrfmiddlewaretoken: "{{ csrf_token }}"
        },
        success: function (response) {
          if (response.action == "like") {
            $("#like-btn i")
              .removeClass("far")
              .addClass("fas");
            $("#like-count").text(response.likes_count);
          } else {
            $('#like-btn i')
              .removeClass("fas")
              .addClass("far");
            $('#like-count').text(response.likes_count);
          }
        }
        error: function (xhr, errmsg, err) {
          console.log(xhr.status + ": " + xhr.responseText);
        }
      });
    });
  });
</script>
{% endblock %}