{% load static %}
{% include 'base.html' %}

{% block content %}

  <div class="content container">
    <header class="page-header" style="overflow: auto;">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
      <h1 style="display: inline;">영상 목록</h1>
      <a class="btn btn-default" href="video_upload/" style="float: right;">New Video</a>
    </header>
    <div class="row">
      <div class="col-md-12">
        <hr>
        {% for video in video_list %}
          <a href="{{ video.id }}">
            <video width="300" height="150" float="left">
              <source src="../media/{{ video.videofile }}" type="video/mp4">
            </video>
            <div style="float:right; font-size:2em;">{{ video.title }}</div><br>
          </a>
          <div style="float:right">{{ video.create_date }}</div><br>
          <div style="float:right">{{ video.author }}</div><br>
          <div style="float:right">조회수 :
            {{ video.view_count }}</div><br>
          <div style="float:right">
            {{ video.likes.count }}
            <i class="fas fa-heart"></i>
          </div><br>
          <hr>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}
